* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    cursor: none;
    background: #0e1012;
    transition: background-color 0.3s ease;
    color: #fff;
}

.font1 {
    font-family: "benda", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.font2 {
    font-family: "mundial", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.hero-text {
    position: absolute;
    top: 100px;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.hero-text .hero-text-content {
    text-align: center;
}

.hero-text h1 {
    font-family: "tt-nooks-script", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 7vw;
    line-height: 1;
    font-weight: 700;
    background-color: #f4d03f;
    background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.hero-text h2 {
    font-size: 2vw;
    color: #fff;
    display: inline-flex;
}

.cursor {
    position: fixed;
    width: 30px;
    height: 30px;
    margin-left: -20px;
    margin-top: -20px;
    border-radius: 50%;
    border: 2px solid #16a085;
    transition: transform 0.3s ease;
    transform-origin: center center;
    pointer-events: none;
    z-index: 1000;
}

.grow-small {
    transform: scale(10);
    background: #fff;
    mix-blend-mode: difference;
    border: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.image4 {
    margin-top: 250px;
}

.hero-text1 {
    position: absolute;
    top: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.hero-text1 h1 {
    font-size: 5vw;
    line-height: 1;
    font-weight: 700;
    background-color: #f4d03f;
    background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
    -webkit-background-clip: text;
    color: transparent;
}

nav {
    position: fixed;
    color: #fff;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    z-index: 100;
    transition: background-color 0.3s ease;
}

body.dark-mode {
    background: #fff;
    color: #000;
}

.dark-mode nav {
    background-color: #fff;
    border-bottom-color: #000;
}

.dark-mode nav .nav-bar .logo a,
.dark-mode nav .nav-bar .nav-links li a {
    color: #000;
}
.dark-mode .hero-text h2 {
    color: #000;
}

nav .nav-bar {
    height: 100%;
    max-width: auto;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen {
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}

.menu .logo-toggle {
    display: none;
}

.nav-bar .nav-links {
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li {
    margin: 0 5px;
    list-style: none;
}

.nav-links li a {
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}
