/* Style de base pour le corps de la page */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2c2c2c; /* Couleur de fond sombre pour un bon contraste */
    font-family: "gioviale", sans-serif; /* Utilisation de la police Gioviale */
}

/* Style pour le texte centré */
.centered-text {
    color: #ffffff; /* Couleur blanche pour un contraste élevé */
    font-size: 2em; /* Taille de police pour une bonne lisibilité */
    font-weight: 400; /* Poids de la police pour un style normal */
    font-style: normal; /* Style de la police normal */
    text-align: center; /* Centre le texte horizontalement */
    padding: 0 20px; /* Ajoute un peu d'espace à gauche et à droite */
}
